*{
    margin: 0;
    padding: 0;
}
body,html{
    font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: auto;
}
em,i{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.clearfix{zoom:1}
img{
    border: none;
}
input{
    outline: none;
}
.w1200{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 31px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
}
.header .headerTop .top1{
    padding: 0 20px;
    display: inline-block;
    height: 31px;
    line-height: 32px;
    vertical-align: middle;
    margin-left: 14px;
    background: url("../img/ffz.png") no-repeat 0 -5px;
    color: #333;
}
.header .headerTop .box{
    float: right;
    width: 460px;
    height: 31px;
}
.headerTop .box li{
    position: relative;
    z-index: 100;
    float: left;
    height: 31px;
    line-height: 32px;
    text-align: center;
}
.headerTop .box li .a0{
    color: #666;
    margin-right: 14px;
}
.headerTop .box li .a1{
    padding-left: 36px;
    padding-right: 14px;
    color: #666;
    border-left: 1px solid #ddd;
}
.headerTop .box .li1{
    background: url("../img/upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png") no-repeat  16px -212px;
}
.headerTop .box .li2{
    background: url("../img/upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png") no-repeat  12px -104px;
}
.headerTop .box .li3{
    background: url("../img/upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png") no-repeat  70px -145px;
}
.headerTop .box .li4{
    background: url("../img/upload_ie2wmzdehazwkztdgmzdambqhayde_100x400.png") no-repeat  12px -250px;
}
.headerTop .box .li3 .a1{
    padding-left: 16px;
    padding-right: 28px;
}
.headerTop .box .li2 .car{
    display: none;
    width: 200px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #999;
    background: #efefef;
    position: absolute;
    top: 31px;
    left: -88px;
    border-radius: 0 0 4px 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}
.headerTop .box .li2:hover .car{
    display: block;
}
.headerTop .box .li3 .k1{
    display: none;
    width: 100px;
    height: 90px;
    background: #efefef;
    position: absolute;
    top: 31px;
    left: 0;
    border-radius: 0 0 4px 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.box .li3 .k1 p{
    display:block;
    height: 30px;
}
.box .li3 .k1 p a{
    color: #333;
}
.box .li3 .k1 p:hover{
    background: #e4e4e4;
}
.box .li3:hover .k1{
    display: block;
}
.box .li4 .i1{
    width: 7px;
    height: 4px;
    position: absolute;
    top: 14px;
    left: 88px;
    background: url("../img/ffz.png") no-repeat  0 0
}
.box .li4 .d1{
    display: none;
    position: absolute;
    z-index: 999;
    width: 90px;
    top: 100%;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 3px 3px;
}
.box .li4 .d1 p{
    display:block;
    height: 30px;
}
.box .li4 .d1 p a{
    color: #333;
}
.box .li4 .d1 p:hover{
    background: #e4e4e4;
}
.box .li4:hover .d1{
    display: block;
}
.headerNode{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(204, 204, 204) 0px 1px 6px 0px;
    z-index: 9999;
    display: none;
}
.headerNode .log{
    position: relative;
    float: left;
    width: 240px;
    height: 36px;
}
.headerNode .log .log1{
    display: inline-block;
    width: 130px;
    height: 64px;
    line-height: 64px;
    padding: 0px 5px;
    cursor: pointer;
    position: absolute;
    left: 60px;
    top: -14px;
}
.headerNode .log .log1 .nav_log{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("../img/upload_4ilai5dga816d62aeg4bkl820fh8d_20x20.png")center center / 100% 100% no-repeat;
}
.headerNode .log .log1 .nav_all{
    font-family: PingFangSC;
    font-size: 14px;
    color: rgb(255, 0, 119);
    margin-left: 2px;
    vertical-align: middle;
}
.headerNode .log .log1 .nav_icon{
    position: absolute;
    right: 10px;
    top: 30px;
    width: 0px;
    height: 0px;
    vertical-align: middle;
    border-width: 6px;
    border-style: solid;
    border-color: rgb(255, 0, 119) transparent transparent;
}
.log .b{
    position: fixed;
    top: 50px;
    left: 74px;
    display: none;
}
.log:hover .b{
    display: block;
}
.headerIcon{
    height: 90px;
    margin-top:0;
}
.headerIcon .headerFind h1{
    float: left;
}
.headerIcon .headerFind .loge{
    width: 240px;
    height: 90px;
    background: url("../img/upload_8c33je43c5fj80c276h940793i6i8_240x90.png") no-repeat;
    display: block;
    text-indent: -999em;
}
.headerIcon .headerFind .box1{
    position: relative;
    width: 482px;
    height: 90px;
    float: left;
    margin-left: 110px;
}
.box2{
    position: relative;
    z-index: 50;
    width: 482px;
    margin-top: 20px;
}
.box3{
    border: 1px solid #f07;
    _white-space: nowrap;
    width: 480px;
    height: 34px;
    border-radius: 0 6px 6px 0;
}
.box4{
    position: relative;
    float: left;
    width: 60px;
    z-index: 10;
    text-align: center;
}
.sou{
    display: block;
    height: 34px;
    line-height: 34px;
    color: #f07;
    cursor: pointer;
    background:url("../img/upload_3a8188da5hkdk76cj936afck6l19a_8x4.png") no-repeat 100%;
}
.sou1{
    display: none;
    width: 60px;
    height: 61px;
    position: absolute;
    left: -1px;
    top: 35px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    z-index: 999;
    background: #fff;
}
.box4 .sou1 p{
    height: 30px;
}
.box4 .sou1 p a{
    color: #ff0077;
    line-height: 30px;
    text-align: center;
}
.box5{
    width: 482px;
    height: 20px;
    overflow: hidden;
    margin-top: 5px;
}
.box5 .selice{
    color: #999;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 14px 0 0;
}
.box4:hover .sou1{
    display: block;
}
.box4 .sou1 p:hover{
    background: #ffeef4;
}
.box5 .selice:hover{
    text-decoration: underline;
    color: #f07;
}
.topForm{
    height: 34px;
}
.text{
    display: block;
    overflow: hidden;
    width: 305px;
    height: 22px;
    line-height: 22px;
    padding: 6px 0 6px 10px;
    border: none;
    color: #999;
    font-size: 12px;
    background-color: #fff;
}
.ss{
    position: absolute;
    top: 1px;
    left: 382px;
    float: right;
    height: 34px;
    line-height: 34px;
    text-align: center;
    overflow: hidden;
    width: 100px;
    _width: 96px;
    background-color: #f07;
    background-image: linear-gradient(90deg,#f25,#ff1581);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
.ss:hover{
    background-image: linear-gradient(90deg,#ff1581,#f25);
}
.box6{
    position: absolute;
    left: 0;
    width: 482px;
    height: 400px;
    background: #fff;
    border:1px solid #f07;
    z-index: 9999;
    display: none;
}
section{
    background:#f7f7f7;
}
.headerIcon .headerFind .img2{
    float: right;
    width: 220px;
    height: 90px;
}
.headerCon{
    height: 480px;
}
.headerCon .div1{
    position: relative;
    height: 100%;
}
.headerCon .boxInner{
    width: 778px;
    height: 100%;
    position: absolute;
    left: 256px;;
    top:0;
}
.headerCon .div1 .boxInner .img0{
    width: 100%;
    height: 100%;
}
.headerCon .div1 .boxInner div{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;;
    top:0;
    z-index: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}
.headerCon .div1 ul{
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right:550px;
    z-index: 10;
}
.headerCon .div1 ul li{
    width: 14px;
    height: 14px;
    margin-left: 5px;
    background: #e7e7e7;
    float: left;
    padding: 0;
    border-radius: 100%;
    cursor: pointer;
}
.headerCon .div1 ul li.on{
    background: #ff3366;
    background: url("../img/o61vu_ieydoyjzhe2wim3gmiytambqmeyde_201x53.png") no-repeat -160px -20px;
    -webkit-animation: rotate 4000ms cubic-bezier(0.6, 0, 0.6, 1) 1;
    -moz-animation: rotate 4000ms cubic-bezier(0.6, 0, 0.6, 1) 1;
    -o-animation: rotate 4000ms cubic-bezier(0.6, 0, 0.6, 1) 1;
    animation: rotate 4000ms cubic-bezier(0.6, 0, 0.6, 1) 1;
}
.headerCon .div1 ul li.on1{
    background: #ff3366;
}
@keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.bg0{
    background: #eb5c4e;
}
.bg1{
    background: #99a0bc;
}
.bg2{
    background: #cadad0;
}
.bg3{
    background: #fa9696;
}
.bg4{
    background: #b98e7b;
}
.bg5{
    background: #fad81b;
}
.b{
    position: absolute;
    top: 0;
    left: 0;
    width: 256px;
    height: 480px;
    background-color: rgba(51, 51, 51, 0.9);
    background-color: #333333\9;
    z-index: 100;
}
.b ol{
    height: 442px;
    margin-top: 16px;
}
.b ol li{
    height: 32px;
    line-height: 32px;
    padding-left: 17px;
}
.b ol li .list{
    font-family:'PingFang SC';
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.b ol li .span1{
    margin-left: 11px;
}
.b ol li .span1 ins {
    height: 12px;
    width: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid #333333\9;
    margin: 6px 9px 0;
    display: inline-block;
}
.b ol li .list2{
    display: inline-block;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
}
.b ol li:hover{
    background: #23252e;
    padding-left: 15px;
    border-left: 2px solid pink;
}
.b ol li .list:hover{
    text-decoration: underline;
}
.b ol li .list2:hover{
    text-decoration: underline;
}
.b .nav_more{
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 0 0 20px;
    width: 540px;
    height: 478px;
    overflow: hidden;
    background-color: #fff;
    opacity: 1;
    border-top: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}
.nav_more h2 a{
    line-height: 58px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    display: block;
}
.nav_more .more{
    width: 500px;
    margin-bottom: 10px;
    overflow: hidden;
}
.nav_more .more dt{
    width: 500px;
    height: 24px;
    line-height: 24px;
    background-color: #f7f7f7;
}
.nav_more .more dt a{
    display: block;
    font-size: 12px;
    color: #333;
}
.nav_more .more .more_list a{
    float: left;
    margin: 0 20px 0 0;
    font-size: 12px;
    color: #999;
}
.more_list a img{
    width: 54px;
    height: 54px;
    margin-left: 25px;
}
.more dt a:hover{
    text-decoration: underline;
}
.more_list a:hover{
    text-decoration: underline;
}
.headerCon .div1 .div2{
     position: absolute;
     right: 0;
     top: 0;
     width: 166px;
     height: 460px;
     margin-top: 10px;
     font-family: "PingFang SC", Georgia, "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
     border-radius: 5px;
     background: url("../img/touming.png") center center / 100% 100% no-repeat;
     z-index: 2;
}
.headerCon .div1 .div2 .denglu{
    display: block;
    width: 72px;
    height: 72px;
    margin: 20px auto 0;
    border-radius: 100%;
    background: url("../img/upload_7a9719cl61k83h5cbkc9fl1330i5c_60x64.png")center center / 30px 30px no-repeat rgb(255, 148, 198);
    cursor: pointer;
}
.headerCon .div1 .div2 .welcome{
    font: normal 12px/1.5 'PingFang SC';
    margin: 5px 0 10px 0;
    text-align: center;
}
.headerCon .div1 .div2 .p2{
    font-weight: bold;
    width: 90%;
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    height: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.headerCon .div1 .div2 .but{
    display: block;
    width: 100px;
    height: 28px;
    margin: 5px 33px;
    border-radius: 6px;
    color: #fff;
    font: 600 14px/1 'PingFang SC';
    line-height: 28px;
    text-align: center;
    background: #ff205d;
}
.headerCon .div1 .div2 .font{
    margin: 10px 0;
    text-align: center;
    font: 12px/1 'PingFang SC';
}
.headerCon .div1 .div2 .font a{
    display: inline-block;
    margin: 0 5px;
    color: #333;
}
.headerCon .div1 .div2 .font a:hover{
    text-decoration: underline;
}
.headerCon .div1 .div2 .foot{
    width: 100%;
    height: 188px;
    margin-top: 58px;
}
.headerCon .div1 .div2 .foot .p3{
    width: 90px;
    height: 32px;
    margin: 0 auto;
    font: normal 12px/1.5 'PingFang SC';
    line-height: 1.4;
    text-align: center;
    color: #333333;
}
.headerCon .div1 .div2 .foot .show{
    width: 126px;
    height: 126px;
    margin: 6px 0 0 20px;
    position: relative;
}
.headerCon .div1 .div2 .foot .show2{
    display: none;
    width: 126px;
    height: 126px;
    position: absolute;
    top: 0;
    left: 0;
}
.headerCon .div1 .div2 .foot .show:hover .show2{
    display: block;
}
.headerCon .div1 .div2 .foot .s1{
    display: block;
    font-family: 'PingFang SC';
    margin-top: 6px;
    text-align: center;
    color: #666666;
}
.headerRight{
    width: 30px;
    height: 643px;
    background: #202020;
    float: right;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 200;
}
.headerRight ul{
    width: 100%;
    height: 326px;
    margin-top: 65px;
}
.headerRight ul li{
    width: 100%;
    height: 88px;
}
.headerRight ul li a{
    color: #fff;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: url("../img/upload_iezdmoldgm2tmnrtgqzdambqmmyde_30x220.png") no-repeat 0 5px;
}
.headerRight ul li a .cd{
    width: 5px;
    height: 58px;
    text-align: center;
    padding: 30px 20px 0 8px;
    border-bottom: 1px solid #ddd;
}
.headerRight ul .lis2 a{
    background-position:0 -28px;
}
.headerRight ul .lis3 a{
    background-position: 0 -85px;
}
.headerRight ul .lis4 a{
    background-position: 0 -55px;
}
.headerRight ul li:hover{
    background: #ef2e22;
}
.headerRight ul li:hover .cd{
    border-bottom: none;
}
.headerRight .toTop{
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 100%;
    height: 35px;
    border-top: 1px solid #ddd;
    display: none;
}
.headerRight .toTop .toTop1{
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/upload_iezdmoldgm2tmnrtgqzdambqmmyde_30x220.png") no-repeat 0 -150px;
}
.headerRight .toTop:hover{
    background:#ef2e22;
    border-top: none;
}
.headerMiddle{
    margin-top: 30px;
}
.headerMiddle .headerImg{
    height: 150px;
    position: relative;
}
.headerMiddle .headerImg .tu{
    width: 1024px;
    height: 150px;
    margin-right: 10px;
}
.headerMiddle .headerImg .tu .a00 {
    float: left;
    position: relative;
    display: block;
    width: 256px;
    height: 100%;
    border-radius: 6px 0 0 6px;
    background: -webkit-linear-gradient(left, #ffaf42, #ff8e4d);
    background: -moz-linear-gradient(left, #ffaf42, #ff8e4d);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf42), color-stop(100%,#ff8e4d));
    background: -webkit-linear-gradient(left, #ffaf42, #ff8e4d);
    background: -o-linear-gradient(left, #ffaf42, #ff8e4d);
    background: -ms-linear-gradient(left, #ffaf42, #ff8e4d);
    background: linear-gradient(left, #ffaf42, #ff8e4d);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf42', endColorstr='#ff8e4d',GradientType=0 );
}
:root .gradient{filter:none;}

.headerMiddle .headerImg .tu .a00 .img1{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.headerMiddle .headerImg .tu .a00:hover{
    background: -webkit-linear-gradient(left, #ff8e4d,#ffaf42);
    background: -moz-linear-gradient(left, #ff8e4d,#ffaf42);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8e4d), color-stop(100%,#ffaf42));
    background: -webkit-linear-gradient(left, #ff8e4d,#ffaf42);
    background: -o-linear-gradient(left, #ff8e4d,#ffaf42);
    background: -ms-linear-gradient(left, #ff8e4d,#ffaf42);
    background: linear-gradient(left, #ff8e4d,#ffaf42);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e4d', endColorstr='#ffaf42',GradientType=0 );
}
.headerMiddle .headerImg .tu .a00:hover .img1{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}
.headerMiddle .headerImg .tu .a11{
    float: left;
    position: relative;
    display: block;
    width: 256px;
    height: 100%;
    background: -webkit-linear-gradient(left, #ea73ff, #a34eff);
    background: -moz-linear-gradient(left, #ea73ff, #a34eff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea73ff), color-stop(100%,#a34eff));
    background: -webkit-linear-gradient(left, #ea73ff, #a34eff);
    background: -o-linear-gradient(left, #ea73ff, #a34eff);
    background: -ms-linear-gradient(left, #ea73ff, #a34eff);
    background: linear-gradient(left, #ea73ff, #a34eff);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea73ff', endColorstr='#a34eff',GradientType=0 );
}
:root .gradient{filter:none;}

.headerMiddle .headerImg .tu .a11 .img1{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.headerMiddle .headerImg .tu .a11:hover{
    background: -moz-linear-gradient(left,#a34eff,#ea73ff);
    background: -webkit-gradient(linear, left left,left left, color-stop(0%,#a34eff), color-stop(100%,#ea73ff));
    background: -webkit-linear-gradient(left,#a34eff,#ea73ff);
    background: -o-linear-gradient(left,#a34eff,#ea73ff);
    background: -ms-linear-gradient(left,#a34eff,#ea73ff);
    background: linear-gradient(left,#a34eff,#ea73ff);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a34eff', endColorstr='#ea73ff',GradientType=0 );
}
.headerMiddle .headerImg .tu .a11:hover .img1{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}
.headerMiddle .headerImg .tu .a22{
    float: left;
    position: relative;
    display: block;
    width: 256px;
    height: 100%;
    background: -webkit-linear-gradient(left,#00dafe,#3381ff);
    background: -moz-linear-gradient(left,#00dafe,#3381ff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00dafe), color-stop(100%,#3381ff));
    background: -webkit-linear-gradient(left,#00dafe,#3381ff);
    background: -o-linear-gradient(left,#00dafe,#3381ff);
    background: -ms-linear-gradient(left,#00dafe,#3381ff);
    background: linear-gradient(left,#00dafe,#3381ff);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dafe', endColorstr='#3381ff',GradientType=0 );
}
:root .gradient{filter:none;}

.headerMiddle .headerImg .tu .a22 .img1{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.headerMiddle .headerImg .tu .a22:hover{
    background: -webkit-linear-gradient(left,#3381ff,#00defe);
    background: -moz-linear-gradient(left,#3381ff,#00defe);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3381ff), color-stop(100%,#00defe));
    background: -webkit-linear-gradient(left,#3381ff,#00defe);
    background: -o-linear-gradient(left,#3381ff,#00defe);
    background: -ms-linear-gradient(left,#3381ff,#00defe);
    background: linear-gradient(left,#3381ff,#00defe);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3381ff', endColorstr='#00defe',GradientType=0 );
}
.headerMiddle .headerImg .tu .a22:hover .img1{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}
.headerMiddle .headerImg .tu .a33{
    float: left;
    position: relative;
    display: block;
    width: 256px;
    height: 100%;
    border-radius: 0 6px 6px 0;
    background: -webkit-linear-gradient(left,#fd3f89,#fd3e5f);
    background: -moz-linear-gradient(left,#fd3f89,#fd3e5f);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd3f89), color-stop(100%,#fd3e5f));
    background: -webkit-linear-gradient(left,#fd3f89,#fd3e5f);
    background: -o-linear-gradient(left,#fd3f89,#fd3e5f);
    background: -ms-linear-gradient(left,#fd3f89,#fd3e5f);
    background: linear-gradient(left,#fd3f89,#fd3e5f);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3f89', endColorstr='#fd3e5f',GradientType=0 );
}
:root .gradient{filter:none;}

.headerMiddle .headerImg .tu .a33 .img1{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.headerMiddle .headerImg .tu .a33:hover{
    background: -webkit-linear-gradient(left,#fd3e5f,#fd3f89);
    background: -moz-linear-gradient(left,#fd3e5f,#fd3f89);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd3e5f), color-stop(100%,#fd3f89));
    background: -webkit-linear-gradient(left,#fd3e5f,#fd3f89);
    background: -o-linear-gradient(left,#fd3e5f,#fd3f89);
    background: -ms-linear-gradient(left,#fd3e5f,#fd3f89);
    background: linear-gradient(left,#fd3e5f,#fd3f89);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3e5f', endColorstr='#fd3f89f',GradientType=0 );
}
.headerMiddle .headerImg .tu .a33:hover .img1{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}
.headerMiddle .headerImg .tu a .img-box{
    position: absolute;
    right: 10px;
    top: 14px;
    width: 120px;
    height: 120px;
    -webkit-transition: top 500ms ease-in-out;
    transition: top 500ms ease-in-out;
    z-index: 3;
    overflow: hidden;
}
.headerMiddle .headerImg .tu a .hot{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 105px;
    height: 28px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    z-index: 3;
    font-family: "PingFang SC", "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
}
.headerMiddle .headerImg .tu a .pp1{
    position: absolute;
    top:48px;
    left: 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    z-index: 3;
    font-family: "PingFang SC", "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
}
.headerMiddle .headerImg .tu a .pp2{
    position: absolute;
    top:70px;
    left: 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    z-index: 3;
    font-family: "PingFang SC", "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
}
.headerMiddle .headerImg .tu a .pp2 span{
    background-color: #333;
    padding: 1px 3px;
    margin: 0 3px;
    border: 1px solid #333;
    color: #FFF;
    border-radius: 2px;
}
.headerMiddle .headerImg .tu a .go{
    width: 50px;
    height: 24px;
    position: absolute;
    bottom: 18px;
    left: 20px;
    z-index: 3;
}
.headerMiddle .headerImg .tu a .go img{
    width: 100%;
    height: 100%;
}
.headerMiddle .headerImg .hh img{
    position: absolute;
    top:0;
    right: 0;
    width: 166px;
    height: 150px;
    border-radius: 6px;
    margin-left: 10px
}

.headerMiddle .headerImg .hh .xx{
    width: 166px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.headerMiddle .headerImg .hh:hover .xx{
    display: block;
}
.main{
    height: 336px;
    margin-top: 30px;
}
.main .main1{
    float: left;
    position: relative;
    display: block;
    width: 254px;
    height: 336px;
    overflow: hidden;
    border-radius: 6px 0 0 6px;
}
.main .main1 img{
    width: 100%;
}
.main .main1 a{
    display: block;
    width: 100%;
    height: 336px;
}
.main .main1 a .p-1{
    position: absolute;
    top: 25px;
    left: 30%;
    width: 100%;
    color: #666;
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
    font-family: "PingFang SC", Georgia, "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
}
.main .main1 a .p-2{
    position: absolute;
    top: 67px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #999;
}
.div11{
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 36px;
    margin: 0 58px 20px;
    border-radius: 100px;
    background: #fff;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #855232;
    z-index: 10;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.div11:hover{
    -webkit-box-shadow:0 12px 30px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 12px 30px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow:0 12px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-2px);
    -moz-transform:translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}
.main2{
    float: left;
    width: 600px;
    height: 336px;
}
.main2 .a111{
    position: relative;
    display: block;
    float: left;
    width: 255px;
    height: 336px;
    border-right: 1px solid #f7f7f7;
}
.main2 .a111 img{
    width: 254px;
    height: 336px;
}
.ppp1{
    position: absolute;
    height: 30px;
    top: 18px;
    left: 20px;
    z-index: 2;
    color: #333;
    font-size: 16px;
    font-family: "PingFang SC", Georgia, "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif
}
.ppp2{
    position: absolute;
    height: 20px;
    top: 40px;
    left: 20px;
    z-index: 2;
    color: #855232;
    font-size: 14px;
    font-family: "PingFang SC", Georgia, "Times New Roman", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
}
.main2 .a222{
    position: relative;
    display: block;
    float: left;
    width: 342px;
    height: 167px;
    border-bottom: 1px solid #f7f7f7;
}
.main2 .a222 img{
    width: 344px;
    height: 167px;
}
.main .main3{
    float: left;
    width: 343px;
    height: 336px;
    border-left: 1px solid #f7f7f7;
}
.main .main3 .a444{
    position: relative;
    float: left;
    width: 170px;
    height: 167px;
    background: #fff;
    border-bottom: 1px solid #f7f7f7;
}
.main .main3 .a444 img{
    position: absolute;
    bottom: 2px;
    left: 37px;
    width: 106px;
    height: 106px;
}
.main3 .a444:nth-child(1){
    border-right: 1px solid #f7f7f7;
}
.main3 .a444:nth-child(3){
    border-right: 1px solid #f7f7f7;
}
.like{
    margin-top: 42px;
}
.like h2{
    font: 20px "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    font-weight: bold;
    margin-bottom: 30px;
}
.like ul{
    height: 455px;
}
.like ul li{
    float: left;
    width: 220px;
    height: 402px;
    margin: 0 0 10px 25px;
}
.like ul li a img{
    display: block;
    width: 220px;
    height: 330px;
}
.f1{
    display: block;
    margin-top: 6px;
    color: #333;
    font-size: 14px;
}
.like ul li span:nth-child(3){
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}
.like ul li span:nth-child(5){
    float: right;
    font-size: 12px;
    color: #afafaf;
    margin: 15px 2px 0 0;
}
.like ul li i{
    float: right;
    width: 16px;
    height: 15px;
    background: url("../img/star.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 12px;
}
.footer{
    width: 100%;
    height: 297px;
    padding-bottom: 20px;
    background: url("../img/foot_ieydomrxmfswgnrymiytambqhayde_24x160.png") repeat-x center top;
    background-color: #fbfbfb;
}
.footer_fo{
    height: 192px;
    padding: 30px 0 6px 1px;
    border-bottom: 1px solid #ddd;
}
.footer_init{
    float: left;
    width: 246px;
    height: 218px;
    background: url("../img/upload_ifrwinlcgfrdcyteg4zdambqhayde_152x38.png") no-repeat left top;
}
.footer_text{
    width: 246px;
    height: 142px;
    padding-top: 40px;
}
.footer_text p{
    height: 16px;
    line-height: 16px;
    margin-top: 5px;
    color: #999;
}
.footer_text p a{
    display: inline-block;
    background: url("../img/upload_ifrgemjwgq3gemzthazdambqmeyde_20x20.png") no-repeat left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding-right: 5px;
    vertical-align: middle;
}
.footer_text p:nth-child(4){
    padding-top: 15px;
}
.footer_link{
    width: 904px;
    height: 143px;
    float: left;
}
.footer_link dl{
    float: left;
    margin-left: 121px;
    padding-bottom: 15px;
}
.footer_link dl dt{
    padding-bottom: 3px;
    color: #333;
    font-weight: 700;
    height: 14px;
}
.footer_link dl dd{
    height: 14px;
    margin-top: 8px;
}
.footer_link dl dd a{
    display: block;
    color: #666;
}
.footer_link .link1{
    margin-left: 100px;
}
.link1 a{
    display: block;
    width: 67px;
    height: 25px;
    background: url("../img/split.png")no-repeat -407px -51px;
}
.link1 span{
    display: block;
    width:264px;
    height: 60px;
    color: #666;
    margin-top: 30px;
    line-height: 20px;
}
.footer_wrap{
    height: 49px;
}
.footer_wrap ul{
    float: left;
}
.footer_wrap ul li{
    float: left;
}
.footer_wrap ul li a{
    display: block;
    padding: 0 14px 6px;
    color: #4d4d4d;
}
.footer_wrap ul li a:hover{
    text-decoration: underline;
}